<!DOCTYPE html>
<html lang="en">

<head>
  <title>Power-output Generator</title>
  <meta content="text/html; charset=utf-8" />
</head>

<body>
  <h2>Wind Turbine power output</h2>

  <p>
    Please enter a Wind speed below to get a machine learned guess of the
    power outputted by a wind turbine.
  </p>

  <form action="/" method="POST">
    <label for="speed_input">Wind Speed: </label>
    <br>
    <input type="number" id="speed_input" name="speed_input" value="1" step="0.001">
    <br><br>
    <input type="submit" value="Submit">
  </form>

  <h3>Power output is = {{prediction}}</h3>
</body>

</html>